// Variable for main primary color
$color-primary: #CC3737;

//Variable for secondary color
$color-secondary: #3F3F3F;

// Variable for carousel colors
$carousel-color: #222; 

//Variable for main fonts
$font-stack-primary: 'Titillium Web', sans-serif;

//Variable for secondary fonts (h2)
$font-stack-secondary: 'Noto Sans', sans-serif;

//Center alignment
$align-center: center;

//Variable for Jumbotron and lead paragraph color
$white: #fff;

// Layout Settings for Full Width 5 Columns
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-5ths {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}

/* Layout
==============================*/
body {
	padding-top: 30px;
}

h2{
	color: $color-secondary;
	text-align: $align-center;

	font:{
		family: $font-stack-secondary;
		weight: bold 700;
	}

} //end h2

h3 {
	text-align: $align-center;
}

.container {
	max-width: 1000px;
}

.user-input {
	text-align: $align-center;
}

.col-md-4, .col-md-8 {
	margin-top: 100px;
}

/* Navbar
==============================*/
// div.navbar.navbar-static-top {
// 	font-size: 1em;
// }

// a.navbar-brand.text-muted {
// 	font-size: 3em;
// 	text-align: $align-center;
// 	color: $color-secondary;
// }

/*Jumbotron
===============================*/
.jumbotron {
	color: $white;
	margin-bottom: 20px;
	min-height: 50%;
	font-weight: 200;
	text-align: $align-center;
	
	background: {
		image: url("../images/StockSnap.jpg");
		repeat: no-repeat;
		position: $align-center;
		size: cover;
		image-rendering: -webkit-optimize-contrast;
		-webkit-background-size: cover;
		
	}


	p.lead {
		font-family: $font-stack-primary;
		text-shadow: 3px 3px 3px black;

	}

	#map {
		height: 400px;
		width: 100%;
	}

	.jumbotron 
	h1 {	
		font {
			size: 96px;
			family: $font-stack-primary;
		}
		text-shadow: 2px 2px 2px black;
	}	

}

h1 {
	text-shadow: 2px 2px 2px black;
}

/* Input Text Boxes
==============================*/
input#MeetUp.form-control, input#datepicker.form-control.picker__input, input#timepicker.form-control.picker__input, input#Address.form-control {
	background: #fff;
	border-color: $color-secondary;
}

// ::-webkit-input-placeholder { /* Chrome */
//   color: red;
// }

/* Submit Button
==============================*/
.btn {
	padding: 10px 30px;
	margin-top: 4.1em;
	margin-left: 15px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	background: $color-primary;  
	color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: $color-primary; 
}

.btn-primary:active, .btn-primary.active {
	background: #fff; 
	box-shadow: none;
}

/*Glyphicons
===============================*/
.glyphicon {
	font-size: 2em;
	display: block;
	text-align: $align-center;
	color: $color-primary; 
}

/*Carousel
===============================*/
.carousel-indicators {
	.active {
		background-color: $carousel-color; 
	}
	li {
		background-color: $carousel-color; 	
	}
}

/*Accordian 
===============================*/
.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
	content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	float: right;        /* adjust as needed */
	color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

#upmeet-logo{
	height: 38px;    
}


/*CSS from Myles
===============================*/
#lgsu {
	padding-top: 1%;
}
.pure-button {
	margin: 0.5px;
	border-radius: 3px;
	color: white;
	padding: 4px;
	background: #CC3737;
	opacity: 0.9;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.pure-button:hover {
	background-color: black;
	color: white;
}

#upmeet-row{
	margin-top: 0px;
	margin-bottom: 5px;
}

.pure-form {
	display: none;
}

#log-sign {
	margin-left: 87%;
}

form#login-2.pure-form {
	margin-top: 5px;
	margin-left: 50% !important;
	margin-bottom: -7px;
}

#box-sp {
	margin: 2px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ //KELLEN MADE EDITS HERE
@media only screen and (min-width : 320px) {

//Body 
	html,
	body {
		margin: 0;
		padding: 2px;
	}

//Jumbotron
div#carousel-example-generic.carousel.slide.jumbotron {
	margin-top: 20px;
	
}	

//Login and Sign-Up
#lgsu {
	margin-left: 185px;
	margin-bottom: -45px;
}

//upMeet Logo
#upmeet-logo {
	margin-left: -5px;			
	margin-bottom: -53px;	
}

//Submit Button
button#user-submit.btn.btn-primary {
	margin-left: 85px;	
}

//Footer
#footer {
	margin-top: 100px;
	margin-bottom: 0;
	text-align: $align-center;
	}	

	} // end 320 px media query

/* Extra Small Devices, Phones */ // KELLEN MADE EDITS HERE
@media only screen and (min-width : 480px) {

//Body 
	html,
	body {
		margin: 0;
		padding: 2px;
	}

//Jumbotron
div#carousel-example-generic.carousel.slide.jumbotron {
	margin-right: 5px;
}		

//Login and Sign-Up
#lgsu {
	margin-left: 343px;
	margin-bottom: -50px;
}

//upMeet Logo
#upmeet-logo {			
	margin-bottom: -55px;	
}

//Submit Button
button#user-submit.btn.btn-primary {
	margin-left: 165px;	
}

//Footer
#footer {
	margin-top: 100px;
	margin-bottom: 0;
	text-align: $align-center;
	}	

} // end 480 px Media Query


/* Small Devices, Tablets */ //KELLEN MADE EDITS HERE
@media only screen and (min-width : 768px) {

//Body 
	html,
	body {
		margin: 0;
		padding: 2px;
	}

//Jumbotron
div#carousel-example-generic.carousel.slide.jumbotron {
	margin-right: 15px;
}		

//Login and Sign-Up
#lgsu {
	margin-left: 620px;
	margin-bottom: -50px;
}

//upMeet Logo
#upmeet-logo {				
	margin-bottom: -65px;	
}

//Submit Button
button#user-submit.btn.btn-primary {
	margin-left: 300px;	
}

//Footer
#footer {
	margin-top: 100px;
	margin-bottom: 0;
	text-align: $align-center;
	}	

} //end of 768px Media Query 


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
