/* Layout
==============================*/

body {
    padding-top: 30px;
}

.container {
    bottom: 0;
}


/* Navbar
==============================*/

div.navbar.navbar-static-top {
    font-size: 1em;
}

a.navbar-brand.text-muted {
    font-size: 3em;
    text-align: center;
    color: #000;
}

h2 {
    text-align: center;
}

.pure-button {
    font-size: 90%;
    margin: 1px;
    border-radius: 3px;
    color: white;
    background: black;
    opacity: 0.9;
}

.pure-form {
	display: none;
}



#log-sign {
	margin-left: 87%;
}


/*Jumbotron
===============================*/

.jumbotron {
    color: #fff;
    margin-bottom: 20px;
    min-height: 50%;
    background-image: url("../images/StockSnap.jpg");
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: -webkit-optimize-contrast;
    -webkit-background-size: cover;
    background-size: cover;
    font-weight: 200;
    text-align: center;
}


/*Glyphicons
===============================*/


.lead {
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 3px 3px 3px black;
}

.jumbotron p {
    font-size: 28px;
    letter-spacing:
}

#sign-up-2 {
    margin-left: 42% !important;
}
#box-sp {
	margin: 2px;
}

form#login-2.pure-form {
    margin-left: 55% !important;
}

#map {
    height: 400px;
    width: 100%;
}

.jumbotron .h1,
.jumbotron h1 {
    font-size: 96px;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 2px 2px 2px black;
}


/*Carousel
===============================*/

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators .active {
    background-color: #222;
}

.carousel-indicators li {
    background-color: #222;
}


/*Input Fields
===============================*/
